<nav class="bg-white w-full shadow-md">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <app-brand [title]="title" />
    <app-colapse-button (click)="colapse()" />
    <div
      [ngClass]="{ hidden: !isOpen }"
      class="w-full md:block md:w-auto"
      id="navbar-default"
    >
      <ul
        class="font-medium flex flex-col p-4 md:p-0 rounded-lg md:flex-row md:space-x-4 rtl:space-x-reverse"
      >
        <li
          *ngFor="let item of items"
          class="hover:scale-105 transition-all delay-100"
        >
          <app-menu-item [title]="item.title" [to]="item.to" />
        </li>
      </ul>
    </div>
  </div>
</nav>
